* {
    margin: 0;
    padding: 0;
}

#grid-container {
    display:grid; 
}

#header{
     width: 100%;
    background-color: darkred;
}
#footer {
    width: 100%;
    background-color: lightgreen;
    font-weight: bold;
}


